* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: #0ba4ca;
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background: #e90303;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.hero h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.container-hero {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.features img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;

}

.feature {
    text-align: center;
}

.feature h2 {
    margin-bottom: 20px;
}

footer {
    background: grey;
    color: #fff;
    text-align: center;
    height: auto;
    margin-top: 8%;
}

footer .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature {
        text-align: center;
        padding: 50px;
    }
}